<div id="sidebar">
  <ul id="sidebar-items">
    <li>
      <ul class="languages">
        <% lang_array = [
          ['en-US', 'Change to English', 'http://www.printableworldflags.com/icon-flags/32/United%20Kingdom.png'],
          ['es-MX', 'Cambiar a español', 'http://www.printableworldflags.com/icon-flags/32/Mexico.png'],
          ['fr-FR', 'Changer au français', 'http://www.printableworldflags.com/icon-flags/32/France.png'],
          ['sw', 'Mabadiliko ya Kiswahili', 'http://www.printableworldflags.com/icon-flags/32/Kenya.png'],
          ['ar', 'تغيير للعربية', 'http://www.printableworldflags.com/icon-flags/32/Egypt.png'],
          ['pt-PT', 'Mude para Português', 'http://www.printableworldflags.com/icon-flags/32/Portugal.png'],
          ['it', 'Cambia in Italiano', 'http://www.printableworldflags.com/icon-flags/32/Italy.png'],
          ['ru-RU', 'Изменение Россия', 'http://www.printableworldflags.com/icon-flags/32/Russian%20Federation.png'],
          ['sr', 'Промена на српској', 'http://www.printableworldflags.com/icon-flags/32/Serbia.png'],
          ['zh', '切换到中文', 'http://www.printableworldflags.com/icon-flags/32/China.png'],
          ['bg', 'Промяна на китайски', 'http://www.printableworldflags.com/icon-flags/32/Bulgaria.png'],
          ['ht', 'Chanjman nan kreyòl', 'http://www.printableworldflags.com/icon-flags/32/Haiti.png'],
          ['hi', 'हिन्दी में बदलें', 'http://www.printableworldflags.com/icon-flags/32/India.png'],
          ['tr', 'Türk değiştirin', 'http://www.printableworldflags.com/icon-flags/32/Turkey.png'],
          ['he', 'שינוי לעברית', 'http://www.printableworldflags.com/icon-flags/32/Israel.png'],
          ['fil', 'Baguhin sa Pilipino', 'http://www.printableworldflags.com/icon-flags/32/Philippines.png'],
          ['kiben', 'Kibenbé', 'http://www.gettyicons.com/free-icons/103/flags/png/32/congo_flag_32.png'],
          ['lulimi', 'Lulimi Mashi', 'http://www.gettyicons.com/free-icons/103/flags/png/32/congo_flag_32.png'],
          ['kifuliiru', 'Kifuliiru', 'http://www.gettyicons.com/free-icons/103/flags/png/32/congo_flag_32.png'],
          ['Luganda', 'Luganda', 'http://www.printableworldflags.com/icon-flags/32/Uganda.png'],
          
        ]
        %>
        <% lang_array.each do |lang| %>
          <li class="language-<%= lang[0] -%> selected-language"><a href="#" onclick="switchLocale('<%= lang[0] -%>');return false;">
            <img width='32' height='32' src='<%= lang[2] -%>'>
            <%= lang[1] %>
          </a></li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>
