/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
#sidebar {
  float: right;
  width: 250px;
}

#sidebar ul {
  margin-left: 0;
  padding-left: 0;
}

#sidebar li {
  list-style-type: none;
}

#sidebar img {
  vertical-align:middle;
}

.indent {
  margin-left: 50px;
}