<h2 style="text-align:center;">The Speaksafecare Project</h2>
<p>
Conceptualization and content of this site is provided by Esther Gabrielle Rosengarten, Psychiatric and Mental Health Nurse Practitioner and Medical Anthropology college graduate. Translators are comprised of bilingual healthcare workers who have volunteered to provide culturally sensitive translations in their native language to increase comprehension of questions and site usability by individual users seeking medical assistance.
</p>
<p>
Speaksafecare web and mobile software is developed by Andrew Gale, Software Engineer.
</p>
<a href="javascript:history.back()">Back</a>
