<!DOCTYPE html>
<html>
<head>
  <title>Emergency Connect</title>
  <script type="text/javascript" src="/javascripts/locales.js"></script>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18183088-2']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <div id="page">
    <div id="sidebar">
      <ul id="sidebar-items">
        <li>
          <ul class="languages">
            <li><a href="#" onclick="switchLocale('en-US');return false;">
              <img src='http://www.printableworldflags.com/icon-flags/32/United%20Kingdom.png'>
              Change to English
            </a></li>
            <li><a href="#" onclick="switchLocale('es-MX');return false;">
              <img src='http://www.printableworldflags.com/icon-flags/32/Mexico.png'>
              Cambiar a español
            </a></li>
            <li><a href="#" onclick="switchLocale('fr-FR');return false;">
              <img src='http://www.printableworldflags.com/icon-flags/32/France.png'>
              Changer au français
            </a></li>
            <li><a href="#" onclick="switchLocale('ar');return false;">
              <img src='http://www.printableworldflags.com/icon-flags/32/Egypt.png'>تغيير للعربية
            </a></li>
            <li><a href="#" onclick="switchLocale('pt-PT');return false;">
              <img src='http://www.printableworldflags.com/icon-flags/32/Portugal.png'>
              Mude para Português
            </a></li>
            <li><a href="#" onclick="switchLocale('ru-RU');return false;">
              <img src='http://www.printableworldflags.com/icon-flags/32/Russian%20Federation.png'>
              Изменение Россия
            </a></li>
            <li><a href="#" onclick="switchLocale('sr');return false;">
              <img src='http://www.printableworldflags.com/icon-flags/32/Serbia.png'>
              Промена на српској
            </a></li>
            <li><a href="#" onclick="switchLocale('zh');return false;">
              <img src='http://www.printableworldflags.com/icon-flags/32/China.png'>
              切换到中文
            </a></li>
            <li><a href="#" onclick="switchLocale('bg');return false;">
              <img src='http://www.printableworldflags.com/icon-flags/32/Bulgaria.png'>
              Промяна на китайски
            </a></li>
          </ul>
        </li>
      </ul>
    </div>

    <%= yield %>

    <div id="footer">&nbsp;</div>
  </div>
</body>
</html>
